@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;500&family=Roboto:wght@400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --font--color: #18101b;
    --main--color: #b98ead;
    --accent--dark: #7d193e;
    --padding: 10px;
    --secondary-color: #5c674a;
}

html, body {
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    width: 100%;
    position: relative;
}

.navbar {
    height: 9vh;
    width: 100%;
    text-decoration: none;
    color: var(--font--color);
    font-size: 1.3rem;
    box-shadow: 1px 1px 10px #6d6875;
}


.logo {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 200px;
    height: 100%;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    color: var(--secondary-color);
    font-size: clamp(0.8rem,2vw, 1.5rem);
    padding: 0 30px;
}

.nav-two {
    width: calc(100% - 20px);
    height: 100%;
    font-family: 'Nunito', sans-serif;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    font-size: clamp(0.9rem, 2vw, 1.3rem);
}

.nav-two a {
    text-decoration: none;
    color: var(--font--color);
    padding: 0 20px;
}

.nav-two  i {
    font-size: 2rem;
    display: none;
    text-align: center;
}


.btn {
    display: flex;
    width: 80%;
    margin-top: 20px;
    margin-left: 10px;
}

.btn button span {
    font-size: 0.8rem;
    color: #18101bb9;
}

.btn button {
    background-color: var(--secondary-color);
    padding: 20px;
    color: #18101b;
    font-size: clamp(0.5rem, 3vw, 1rem);
    font-weight: 700;
    border-radius: 10px;
    border: none;
}

button:hover {
    background-color: var(--main--color);
    color: black;
    transition: 0.2s ease-out;
}

.nav-two h4:hover {
    color: var(--secondary-color);
    transition: 0.2s ease-out;
}

.about-me {
    border: 1px solid black;
    height: calc(100% - 9vh);
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, var(--accent--dark), var(--main--color));
    /* position: relative; */
}

.left-abt-me {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--font--color);
    flex-direction: column;
}

.text {
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    word-spacing: 2px;
    margin: 100px auto 0 auto;

}

.text p {
    margin-left: 20px;
    font-weight: 500;
    font-size: clamp(1rem, 4vw, 2rem);
}

.text p span {
    color: #d1b2c8;
}

.text h2 {
    margin-top: 5px;
    margin-left: 20px;
    font-size: clamp(1.4rem, 5vw, 2.8rem);
    color: #d1b2c8;
}

#big {
    margin-top: 10px;
}

#small {
    margin-top: 20px;
    font-size: clamp(0.5rem, 2vw, 1.4rem);
    font-weight: 200;
}

.social-media {
    /* border: 1px solid black; */
    width: 80%;
    height: 50px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 30px;
    /* justify-content: center; */
}

.social-media i {
    font-size: 1.5rem;
    padding: 7px;
    color: #fff;
}

.circle {
    margin-left: 15px;
    border: 1px solid #fff;
    border-radius: 30px;
}

.social-media i:hover {
    color: #18101b;
}

.circle:hover {
    border: 1px solid #18101b;
    background-color: #d1b2c8;
}

.right-abt-me {
    display: flex;
    width: 40%;
    height: 100%;
    background-image: url(./images/Lamp.png);
    justify-content: flex-start;
    align-items: center;
}

.circle-2 {
    box-shadow: 1px 20px 50px black;
    margin-top: 10px;
    margin-left: 190px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-image: url(./images/img1.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.skills {
    min-height: 90vh;
    max-height: fit-content;
    margin-top: 70px;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
}

.title,
.project-title {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
    font-weight: 100;
    color: var(--font--color);
}

.card {
    margin-top: -20px;
    min-height: calc(90vh - 50px);
    max-height: fit-content;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.tech-skills {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 600px;
    width: 450px;
    background-color: #CDA1A7;
}

.soft-skills {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 600px;
    width: 450px;
    background-color: #CDA1A7;
}

.eductaion {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 600px;
    width: 450px;
    background-color: #CDA1A7;
}

.semi-circle {
    border: 1px solid #CDA1A7;
    width: 100%;
    height: 30%;
    border-radius: 0 0 80px 80px;
    background-color: var(--secondary-color);
    font-family: 'Nunito', sans-serif;
    text-align: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.5rem;
}

#education {
    height: 70px;
    width: 70px;
}

.content {
    width: fit-content;
    height: fit-content;
    margin: 30px auto;
}

.title-2 {
    margin-top: 10px;
    word-spacing: 10px;
    color: #fff;
}

.content-2 {
    /* border: 1px solid black; */
    width: 90%;
    height: calc(580px - 30%);
    margin: auto 0;
    border-radius: 20px;
    background-color: #e2ced190;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.inner-content {
    display: flex;
    /* border: 1px solid black; */
    width: 100%;
    height: 70px;
    align-items: center;
}

#content-2-logo {
    height: 50px;
    width: 50px;
}

.progress {
    margin: 50px auto;
    padding: 2px;
    width: 80%;
    max-width: 400px;
    border: 3px solid black;
    border-radius: 20px;
    height: 30px;
}

.progress-bar {
    height: 100%;
    width: 0;
    background-color: var(--secondary-color);
    border-radius: 20px;
    text-align: center;
    color: #fff;
    transition: 2s ease-out;
}

.tech-skills:hover {
    .one {
        width: 70%;
    }

    .two {
        width: 60%;
    }

    .three {
        width: 90%;
    }

    .four {
        width: 80%;
    }

    .five {
        width: 50%;
    }
}

#content-3-logo {
    height: 60px;
    width: 60px;
}

.soft-skills:hover {
    .six {
        width: 80%;
    }

    .seven {
        width: 90%;
    }

    .eight {
        width: 70%;
    }

    .nine {
        width: 70%;
    }
}

.inner-content-1 {
    display: flex;
    flex-direction: column;
}

.inner-content-1 h5 {
    margin-left: 10px;
}

.ahead {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

.content-3 {
    width: 100%;
    height: fit-content;
    font-size: 1.2rem;
    text-align: center;
}

.content-3 span {
    font-size: 1.3rem;
    color: var(--accent--dark);
}

#inner-logo {
    height: 30px;
    width: 30px;
}

.projects {
    height: 90vh;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
}

.grid {
    width: 100%;
    min-height: calc(90vh - 50px);
    max-height: fit-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.item {
    border: 1px solid black;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
}

.item:nth-of-type(1) {
    grid-column: 1/3;
}

.item:nth-of-type(1) p {
    font-size: 1.5rem;
}

.item:nth-of-type(3) {
    grid-row: 1/4;
    grid-column: 4/5;
    background-image: url(./images/quotes_gen.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: -46px 133px 0px 200px rgba(0, 0, 0, 0.48) inset;
    -webkit-box-shadow: -46px 133px 0px 200px rgba(0, 0, 0, 0.48) inset;
    -moz-box-shadow: -46px 133px 0px 200px rgba(0, 0, 0, 0.48) inset;
}

.item:nth-of-type(4) {
    grid-row: 2/4;
    background-image: url(./images/login.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: -46px 133px 0px 200px rgba(0, 0, 0, 0.7) inset;
    -webkit-box-shadow: -46px 133px 0px 200px rgba(0, 0, 0, 0.7) inset;
    -moz-box-shadow: -46px 133px 0px 200px rgba(0, 0, 0, 0.7) inset;
}

.item:nth-of-type(5) {
    grid-row: 2/4;
    background-image: url(./images/full-web.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: -46px 133px 0px 200px rgba(0, 0, 0, 0.7) inset;
    -webkit-box-shadow: -46px 133px 0px 200px rgba(0, 0, 0, 0.7) inset;
    -moz-box-shadow: -46px 133px 0px 200px rgba(0, 0, 0, 0.7) inset;
}

.item:nth-of-type(6) {
    grid-column: 3/4;
    grid-row: 2/5;
    background-image: url(./images/result-summary.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: -46px 133px 0px 200px rgba(0, 0, 0, 0.7) inset;
    -webkit-box-shadow: -46px 133px 0px 200px rgba(0, 0, 0, 0.7) inset;
    -moz-box-shadow: -46px 133px 0px 200px rgba(0, 0, 0, 0.7) inset;
}

.item:nth-of-type(7) {
    grid-row: 4/5;
}

#itm {
    display: flex;
    background-color: black;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    flex-direction: column;
}

#itm span {
    color: #d1b2c8;
}

#itm img {
    height: 40px;
    width: 40px;
}

.item:nth-of-type(8) {
    grid-column: -5/-3;
    grid-row: 4/5;
}

.item:nth-of-type(8) p {
    font-size: 1.5rem;
}

.button {
    border: 1px solid #fff;
    border-radius: 5px;
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
}

.button button {
    margin-top: 150px;
    padding: 15px;
    background-color: var(--main--color);
    font-size: clamp(0.9rem, 8vw, 1.2rem);
    font-weight: 600;
    border-radius: 10px;
}

#itm1 {
    display: flex;
    background-color: var(--accent--dark);
    color: black;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    flex-direction: column;
    font-weight: 500;
}

#itm1 span {
    color: #fff;
}

.item:nth-of-type(3):hover,
.item:nth-of-type(6):hover,
.item:nth-of-type(4):hover,
.item:nth-of-type(5):hover {
    cursor: pointer;
    box-shadow: -46px 133px 0px 200px rgba(0, 0, 0, 0.84) inset;
    -webkit-box-shadow: -46px 133px 0px 200px rgba(0, 0, 0, 0.84) inset;
    -moz-box-shadow: -46px 133px 0px 200px rgba(0, 0, 0, 0.84) inset;
    transition: 0.2s ease-out;

    .button {
        display: block;
        transition: 5s ease-in;
    }

    .button:hover {
        cursor: pointer;
    }

}

.contact {
    height: 80vh;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to left, var(--main--color), #fff);
}

.left-contact {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.contact-img {
    width: 80%;
    height: 60%;
    background-image: url(./images/contact.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.text-contact {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-contact p {
    text-align: center;
    color: var(--font--color);
}

#first-para {
    font-size: clamp(1.6rem, 5vw, 2rem);
    font-weight: 500;
}

#first-para span {
    font-size: clamp(1.6rem, 5vw, 2.5rem);
    color: var(--accent--dark);
}

#sec-para {
    font-size: clamp(0.7rem, 10vw, 1.5rem);
}

#sec-para span {
    font-size: clamp(1.5rem, 10vw, 1.8rem);
    color: var(--accent--dark);
}

.right-contact {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    border: 1px solid black;
    width: 55%;
    height: 85%;
    border-radius: 10px;
    background-color: var(--font--color);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}

form h3 {
    text-align: center;
    margin-top: 5px;
    font-size: clamp(0.5rem, 15vw, 1.8rem);
    color: var(--main--color);
}

form {
    width: 100%;
}

.form-content {
    /* border: 1px solid white; */
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    justify-content: space-around;
    align-items: center;
    align-self: center;
}

input {
    padding: 10px;
    width: 80%;
    border-radius: 5px;
}

#last {
    height: 150px;
    text-align: top;
}

.form-content button {
    padding: 10px;
    background-color: var(--main--color);
    color: #18101b;
    border: 0px;
    border-radius: 5px;
    font-size: clamp(0.7rem, 5vw, 1.2rem);
}

.form-content button:hover {
    cursor: pointer;
}

.footer {
    border: 1px solid black;
    height: 7vh;
    background-color: #18101b;
    color: #fff;
}

.footer p {
    margin-top: 30px;
    margin-left: 20px;
}

@media (max-width: 600px) {
    .nav-two h4 {
        display: none;
    }

    .nav-two i {
        display: initial;
        font-size: 1.5rem;
        color: var(--secondary-color);
    }

    .navbar {
        height: 6vh;
    }

    .about-me {
        height: calc(100vh - 6vh);
        flex-direction: column;
    }

    .left-abt-me {
        width: 100%;
        height: 60%;
    }

    .right-abt-me {
        width: 100%;
        height: 40%;
        background-position: 55% 15%;
        background-size: 300px 500px;
        background-repeat: no-repeat;
        justify-content: center;
        align-items: center;
    }

    .circle-2 {
        width: 100px;
        height: 100px;
        margin-left: -40px;
    }

    .text {
        margin: 30px auto 0 auto;
    }

    .text p {
        font-weight: 500;
        font-size: 1.3rem;
    }
    
    .text h2 {
        margin-top: 3px;
        font-size: 1.8rem;
    }
    
    #big {
        margin-top: 5px;
    }
    
    #small {
        margin-top: 10px;
        font-size: 0.8rem;
        font-weight: 200;
    }
    .social-media {
        height: 40px;
        margin-top: 15px;
        display: flex;
        gap: 20px;
    }
    
    .social-media i {
        font-size: 1rem;
        padding: 7px;
        color: #fff;
    }
    .btn {
        margin-top: 10px;
    }
    
    .btn button span {
        font-size: 0.5rem;
    }
    
    .btn button {
        font-size: 0.8rem;
        padding: 20px 10px;
    }
    
    .projects {
        height: fit-content;
    }

    .grid {
        height: fit-content;
        grid-template-columns: 1, 1fr;
    }
    
    .item {
        border: 1px solid black;
        padding: 10px;
        margin: 20px;
        border-radius: 5px;
        height: fit-content;
    }
    
    .item:nth-of-type(1) {
        grid-column: 1/8;
        grid-row: 1/2;
    }
    
    .item:nth-of-type(2) {
        grid-column: 1/8;
        grid-row: 2/3;
    }

    .item:nth-of-type(1) p {
        font-size: 1.5rem;
    }
    
    .item:nth-of-type(3) {
        grid-column: 1/8;
        grid-row: 3/4;
        height: 200px;
    }
    
    .item:nth-of-type(4) {
        grid-column: 1/8;
        grid-row: 7/8;
        height: 200px;
    }
    
    .item:nth-of-type(5) {
        grid-column: 1/8;
        grid-row: 2/3;
        height: 200px;
    }
    
    .item:nth-of-type(6) {
        grid-column: 1/8;
        grid-row: 6/7;
        height: 200px;
    }
    
    .item:nth-of-type(7) {
        grid-column: 1/8;
        grid-row: 4/5;
    }
    
    .item:nth-of-type(8) {
        grid-column: 1/8;
        grid-row: 8/9;
    }
    
    .item:nth-of-type(8) p {
        font-size: 1.5rem;
    }
    
    .button {   
        display: none;
    }
    
    .button button {
        padding: 10px;
        font-size: 0.9rem;
    }

    .item:nth-of-type(3):hover,
    .item:nth-of-type(6):hover,
    .item:nth-of-type(4):hover,
    .item:nth-of-type(5):hover {
        cursor: pointer;
        box-shadow: -46px 133px 0px 200px rgba(0, 0, 0, 0.84) inset;
        -webkit-box-shadow: -46px 133px 0px 200px rgba(0, 0, 0, 0.84) inset;
        -moz-box-shadow: -46px 133px 0px 200px rgba(0, 0, 0, 0.84) inset;
        transition: 0.2s ease-out;
    
        .button {
            display: block;
            transition: 5s ease-in;
        }
    
        .button:hover {
            cursor: pointer;
        }
    
    }

    .contact {
        height: 150vh;
        flex-direction: column;
        margin-top: 50px;
        font-family: 'Roboto', sans-serif;
        background: linear-gradient(to left, var(--main--color), #fff);
    }
    
    .left-contact {
        height: 40%;
        max-height: fit-content;
        width: 100%;
    }
    
    .contact-img {
        width: 50%;
        height: 40%;
        margin: 0 auto;
    }
    
    .text-contact {
        width: 100%;
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .text-contact p {
        text-align: center;
        color: var(--font--color);
    }
    
    #first-para {
        font-size: 1.5rem;
        font-weight: 500;
    }
    
    #first-para span {
        font-size: 1.9rem;
        color: var(--accent--dark);
    }
    
    #sec-para {
        margin-top: 10px;
        font-size: 1rem;
    }
    
    #sec-para span {
        font-size: 1.3rem;
        color: var(--accent--dark);
    }
    
    .right-contact {
        width: 100%;
        max-height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .form {
        width: 90%;
        height: 80%;
    }
    
    form h3 {
        margin-top: 10px;
    }
    
    form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    
    .form-content {
        margin-top: 10px;
        height: 80%px;
    }
    
    input {
        width: 90%;
    }
    
    .form-content button {
        font-size: 0.8rem;
    }
}